
.mainContainer{
  background-image: url("https://res.cloudinary.com/dollmqugm/image/upload/v1710421616/chalk_fmkwwk.png");
  background-size:cover;
  width:150vw;
  height:auto;
  color:white;
}
.companyName{
  display: none;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 20px;
  width:100vw;
}
.heading{
  font-size:29px;

}
.downContainer{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left:170px;
}
.buyBtn{
  padding:10px;
  border-radius: 8px;
  background-color: #d62121;
  color:white;
  border:none;
  width:60px;
  margin-left:30px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.sider{
  margin-left: 35px;
}
.footerSection{
  padding: 20px;
}
.sideHeader{
  font-size: 20px;
}
.content{
  font-weight: 500;
}
.footerSection{
  display: flex;
  flex-direction: row;
}
.high{
  font-weight: bold;
  font-size: 16px;
}
.startBtn{
  padding:12px;
  border-radius: 10px;
  background-color: #d62121;
  color:white;
  border:none;
  width:120px;
  height:50px;
  font-size:14px;
  letter-spacing: 0.5px;
  margin-top:5px;
  font-weight: 600;
}
.footerSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d62121;
}
.downloadBtn{
  padding:12px;
  border-radius: 10px;
  background-color: #d62121;
  color:white;
  border:none;
  width:140px;
  font-weight: 600;
  height: 50px;
  font-size:14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
p{
  font-size: 14px;
  font-weight: 500;
  padding-bottom: -20px;
}
.highlighter{
  color:#ddac17;
  font-weight: bolder;
}
.leftContent{
  width:100%;
}
.options{
  margin-left: -28px;
  display: none;
  line-height: 30px;
}
.rightContainer{
  margin-top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-left: 20px;
  
}
iframe{
  border-radius:10px;
  border: none;
  }
.whatsappicon{
  width:30px;
  background-color:#25d366 ;
}
.chatBtn{
  background-color:#34a853;
  color:white;
  width:130px;
  padding:10px;
  font-size:16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:none;
  border-radius: 8px;
  margin-top: 20px;

}
.rightContainerlarge{
  display: none;
}
@media (min-width:768px){
  .mainContainer{
    width:100vw;
  }
  .section{
    width:70%;
  }
  .rightContainerlarge{
    display: block;
  }
  .sider{
    margin-left: 0px;
  }
  .companyName{
    display: block;
    font-size:60px;
    font-style: italic;
    font-weight: 500;
    font-family: fantasy;
  }
  #frame{
    border-radius: 8px;
  }
  .container{
    flex-direction:row;
    margin-left:70px;
    width:80%;
  }
  .downContainer{
    margin-left: 85px;
  }
  .rightContainer{
    display: none;
  }
  .options{
    display: block;
  }
  .Name{
    display: block;
    margin-right:20px;
    font-weight: bold;
  }
  .rightContainerlarge{
    margin-top: 45px;
    display: block;
    margin-left: 20px;
  }
  .footerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sideHeader2{
    font-size: 14px;
  }
  .buyBtn{
    margin-left: 160px;
    margin-top: 10px;
    font-weight: bold;
  }
  .leftContent{
    width:100%;
  }
}
